.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    .navbar-logo{
        img{
            width: 10vh;
        }
    }

    .navbar-profile{
        .profile-box{
            cursor: pointer;
            display: flex;
            align-items: center;

            .profile-img{
                padding-right: 2vh;
                img{
                    width: 10vh;
                    border-radius: 50%;
                }
            }
        }

        .profile-dropdown{
            position: absolute;
            
            ul{
                list-style: none;
                backdrop-filter: blur(10px);
                background-color: rgba(255, 255, 255, 0.5);
                overflow: hidden;
                border-radius: 10px;

                li{
                    cursor: pointer;
                    color: black;
                    padding: 2vh;

                    &:hover{
                        background-color: #0E2954;
                        color: white;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .navbar-title{
            display: none;
        }

        .navbar-profile{
            .profile-dropdown{
                z-index: 99;
            }
        }
    }
}